[submodule "AVNUtilLibs/Sockets"]
	path = AVNUtilLibs/Sockets
	url = https://github.com/ska-sa/AVNSockets.git
[submodule "AVNUtilLibs/DataStructures"]
	path = AVNUtilLibs/DataStructures
	url = https://github.com/ska-sa/AVNDataStructures.git
[submodule "AVNAppLibs/SocketStreamers"]
	path = AVNAppLibs/SocketStreamers
	url = https://github.com/ska-sa/AVNSocketStreamers.git
[submodule "AVNUtilLibs/Timestamp"]
	path = AVNUtilLibs/Timestamp
	url = https://github.com/ska-sa/AVNTimestamp.git
[submodule "AVNDataTypes/SpectrometerDataStream"]
	path = AVNDataTypes/SpectrometerDataStream
	url = https://github.com/ska-sa/AVNSpectrometerDataStream.git
[submodule "AVNGUILibs/QwtPlotting"]
	path = AVNGUILibs/QwtPlotting
	url = https://github.com/ska-sa/AVNQwtPlotting.git
[submodule "AVNAppLibs/KATCP"]
	path = AVNAppLibs/KATCP
	url = https://github.com/ska-sa/AVNKATCP.git
